@import '../../../../styles/variables.scss';

.selection {
  position: relative;
  gap: 0.8rem;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  margin-left: 2.8rem;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      border: 2px solid $color-icon-grey;
      left: -2.8rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all .2s ease-out;
    }

    &[data-type='checkbox']::before {
      border-radius: 4px;
    }

    &[data-type='radio']::before {
      border-radius: 50%;
    }
  }

  input:checked+label[data-type='checkbox']::before {
    background-color: $color-icon-grey;
    background-image: url('../../../../../public/img/check.svg');
    background-position: 50%;
  }

  input:checked+label[data-type='radio']::before {
    background: radial-gradient(circle, $color-icon-grey 40%, rgb(255, 255, 255) 50%);
  }
}