@import '../../styles/variables.scss';

.btn {
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  border: 2px solid $color-primary;
  cursor: pointer;
  transition: all .3s ease-out;
  font-family: "SB Sans Interface", sans-serif;

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    border-color: $color-primary-dark;
  }

  &:disabled {
    border-color: $color-grey-dark;
  }

  &__contained {
    background-color: $color-primary;
    color: #fff;

    &:hover {
      background-color: $color-primary-light;
    }

    &:focus {
      background-color: $color-primary-dark;
    }

    &:disabled {
      background-color: $color-grey-dark;
    }
  }

  &__text,
  &__text:hover,
  &__text:focus {
    border: none;
    outline: none;
    background: none;
  }

  &__outlined {
    background-color: #fff;
    color: $color-primary;

    &:hover {
      color: $color-primary-light;
    }

    &:focus {
      color: $color-primary-dark;
    }

    &:disabled {
      color: $color-grey-dark;
    }
  }

  &__square {
    @include flex-center;
    justify-content: center;
    padding: 1.2rem;
  }
}