@import '../../styles/variables.scss';

.form {
  @include flex-vert;
  gap: $gap;

  button {
    &[data-action=true] {
      align-self: flex-start;
      margin-top: $gap;

      @media screen and (max-width: $phone) {
        align-self: stretch;
      }
    }
  }
}

.form-start {
  padding-top: $gap;
}